{% extends 'admin/admin_base.html' %}  
{% load static %}


{% block content %}

<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-sm-12">
                <div class="white-box">
                    <div class="d-flex justify-content-between">
                        <h3 class="box-title">Categories</h3>
                        <a href="{% url 'add_category' %}">
                                <h4><b>+ Add Category</h4></b>
                            </a>
                        </div>

                        {% if not categories %}
                        <img class="rounded mx-auto d-block mb-4"  src=" {% static 'assets/images/error-no-search-results_2353c5.png' %}" alt="">
                        <h1 class="text-center">No Category Available</h1>
                        {% else %}

                    <div class="table-responsive">
                        <table class="table text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-top-0">#</th>
                                    <th class="border-top-0">Category Image</th>
                                    <th class="border-top-0">Category Name</th>
                                    <th colspan="2" class="border-top-0 ">Actions</th>
                                    
                            </thead>
                            <tbody>
                                {% for category in categories %}
                                <tr>
                                    <td>{{category.id}}</td>
                                    <td>
                                        <img src="{{category.category_img.url }}" style="max-width: 10%;">
                                    </td>
                                    <td>{{category.category_name}}</td>
                                    <td><a class="btn btn-warning" href="category/edit/{{category.id}}">Edit</a></td>
                                    <td><a class="btn btn-danger text-light delete_btn" data-id = {{category.id}} >Delete</a></td>

                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endif %}
                </div>
            </div>
            <nav aria-label="Page navigation example">
              {% if categories.has_other_pages %}
              <ul class="pagination d-flex justify-content-center">
                  {% if categories.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ categories.previous_page_number}}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
              </li>
              
                  {% endif %}
                {% for i in categories.paginator.page_range %}
                  {% if categories.number == i %}
                <li class="page-item"><a class="page-link" href="#">{{i}}</a></li>
                  {% else %}
                <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a></li>
                  {% endif %}
                {% endfor %}
                
                {% if categories.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ categories.next_page_number}}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
              </li>
              {% endif %}
              </ul>
              {% endif %}
            </nav>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
   
    <!-- ============================================================== -->
</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->
{% block Scripts %}
<script>

    const delete_element = [...document.getElementsByClassName('delete_btn')]
    
    delete_element.forEach(delete_single_btn=>{
        delete_single_btn.addEventListener('click',function(){
            let value = delete_single_btn.dataset.id
            
            swal({
                title: "Are you sure?",
                text: "Do you want to delete this category?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
              })
              .then((willDelete) => {
                if (willDelete) {
                    
                  swal("Your category has been deleted!", {
                    icon: "success",
                    
                  });
                  window.location = `category/delete/${value}`
                }   
              });
        })
    })



</script>

{% endblock Scripts%}


{% endblock %}

