{% extends 'store/base.html'%}

{% block content %}
        <main class="main">
        	
            <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
                <div class="container">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'user_orders' %}">Profile</a></li>
                        <li class="breadcrumb-item active" aria-current="page">My Account</li>
                    </ol>
                </div><!-- End .container -->
            </nav><!-- End .breadcrumb-nav -->

            <div class="page-content">
            	<div class="dashboard">
	                <div class="container">
	                	<div class="row">
	                		<aside class="col-md-3 col-lg-2">
	                			<ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
									<li class="nav-item">
										<a class="nav-link " href="{% url 'user_orders' %}" >Orders</a>
								    </li>
									
								    <li class="nav-item">
								        <a class="nav-link active" href="{% url 'address' %}" >Addresses</a>
								    </li>
								    <li class="nav-item">
										<a class="nav-link" href="{% url 'profile' %}" >Account Details</a>
								    </li>
									<li class="nav-item">
										<a class="nav-link " href="{% url 'referrals' %}" >Referrals</a>
								    </li>
								    <li class="nav-item">
								        <a class="nav-link" href="{% url 'logoutPage' %}">Sign Out</a>
								    </li>
								</ul>
	                		</aside><!-- End .col-lg-3 -->

	                		<div class="col-md-8 col-lg-9">
	                			<div class="tab-content">
									
										<!-- <div class="tab-pane fade show active" id="tab-orders" role="tabpanel" aria-labelledby="tab-orders-link">
											<p>No order has been made yet.</p>
											<a href="{% url 'store' %}" class="btn btn-outline-primary-2"><span>GO SHOP</span><i class="icon-long-arrow-right"></i></a>
										</div>	.End .tab-pane -->

							

								    	{% if not address %}
									<div class="text-center" >
										<h3 >No Address Available</h3>
										<h4><a  href="{% url 'add_address' %}">Add Address</h4></a>
										{% else %}
									<div>
										<p>The following addresses will be used on the checkout page by default.  </p>
										<a href="{% url 'add_address' %}"><strong>Add Address</strong></a>
										{% endif %}
								
								    	<div class="row">
											{% for address in address %}

								    		<div class="col-lg-6">
								    			<div class="card card-dashboard">
								    				<div class="card-body">
								    					 <h3 class="card-title">Address {{forloop.counter}}</h3><!--End .card-title -->
														 <div class="d-flex justify-content-between">
															<a href="{% url 'edit_address' address.id %}">Edit <i class="icon-edit"></i></a></p>
															<a href="{% url 'delete_address' address.id %}"	>Delete </a><br>
														</div>
														<b> First Name : </b>{{address.first_name}}<br>
														<b> Last Name : </b>{{address.last_name}}<br>
														<b> Address : </b>{{address.address_line_1}} ,{{address.address_line_2}}<br>
														<b> City : </b>{{address.city}}<br>
														<b> State, Country : </b>{{address.state}}, {{address.country}}<br>
														<b> PIN : </b>{{address.pin}}<br>
														<b> Phone Number : </b>{{address.phone_no}}<br>
														<b> Email : </b>{{address.email}}<br>
														<!-- <a href="#">Edit <i class="icon-edit"></i></a></p> -->
								    				</div><!-- End .card-body -->
								    			</div><!-- End .card-dashboard -->
								    		</div><!-- End .col-lg-6 -->
											{% endfor %}

								    	</div><!-- End .row -->
									
								    </div><!-- .End .tab-pane -->


									<!-- <div class="container">
										<div class="row">
											<div class="col-lg-5">
												<label>{{form.first_name.label}}</label>
												<div class="form-group">
													{{ form.first_name }}
												</div>
                                        		
											</div>

											<div class="col-lg-5">
												<label>{{form.last_name.label}}</label>
												<div class="form-group">
													{{ form.last_name }}
												</div>
                                        		
											</div>
										</div>
									</div> -->
						
									
									<!-- <div class="tab-pane fade " id="tab-dashboard" role="tabpanel" aria-labelledby="tab-dashboard-link">
										<p>Hello <span class="font-weight-normal text-dark">User</span> (not <span class="font-weight-normal text-dark">User</span>? <a href="#">Log out</a>) 
										<br>
										From your account dashboard you can view your <a href="#tab-orders" class="tab-trigger-link link-underline">recent orders</a>, manage your <a href="#tab-address" class="tab-trigger-link">shipping and billing addresses</a>, and <a href="#tab-account" class="tab-trigger-link">edit your password and account details</a>.</p>
									</div>.End .tab-pane -->

								    

								    <div class="tab-pane fade" id="tab-account" role="tabpanel" aria-labelledby="tab-account-link">
								    	<form action="#">
			                				<div class="row">
			                					<div class="col-sm-6">
			                						<label>First Name *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->

			                					<div class="col-sm-6">
			                						<label>Last Name *</label>
			                						<input type="text" class="form-control" required>
			                					</div><!-- End .col-sm-6 -->
			                				</div><!-- End .row -->

		            						<label>Display Name *</label>
		            						<input type="text" class="form-control" required>
		            						<small class="form-text">This will be how your name will be displayed in the account section and in reviews</small>

		                					<label>Email address *</label>
		        							<input type="email" class="form-control" required>

		            						<label>Current password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control">

		            						<label>New password (leave blank to leave unchanged)</label>
		            						<input type="password" class="form-control">

		            						<label>Confirm new password</label>
		            						<input type="password" class="form-control mb-2">

		                					<button type="submit" class="btn btn-outline-primary-2">
			                					<span>SAVE CHANGES</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
			                			</form>
								    </div><!-- .End .tab-pane -->
								</div>
	                		</div><!-- End .col-lg-9 -->
	                	</div><!-- End .row -->
	                </div><!-- End .container -->
                </div><!-- End .dashboard -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->
{% endblock %}
