{% extends 'store/base.html' %}
{% load mathfilters %}


{% block content %}

<main class="main">
    <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
        <div class="container d-flex align-items-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url 'store' %}">{{single_product.category}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{single_product.product_name}}</li>
            </ol>

          
        </div><!-- End .container -->
    </nav><!-- End .breadcrumb-nav -->

    <div class="page-content">
        <div class="container">
            <!-- here added product_data from sharma coder  -->
            <div class="product-details-top product_data">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery product-gallery-vertical">
                            <div class="row">
                                <figure class="product-main-image">                          

                                    <a href="{{single_product.product_img_0.url}}" style="max-width: 310px;" class="MagicZoom" id="jeans"   ><img style="max-width: 310px;" src="{{single_product.product_img_0.url}}" /></a>

                                </figure><!-- End .product-main-image -->

                                <div id="product-zoom-gallery" class="product-image-gallery">
                                    
                                    <a data-zoom-id="jeans" href="{{single_product.product_img_0.url}}" ><img style="width: 60px; " src="{{single_product.product_img_0.url}}" /></a>
                                    <a data-zoom-id="jeans" href="{{single_product.product_img_1.url}}" ><img style="width: 60px; " src="{{single_product.product_img_1.url}}" /></a>
                                    <a data-zoom-id="jeans" href="{{single_product.product_img_2.url}}" ><img style="width: 60px; " src="{{single_product.product_img_2.url}}" /></a>
                                    <a data-zoom-id="jeans" href="{{single_product.product_img_3.url}}" ><img style="width: 60px; " src="{{single_product.product_img_3.url}}" /></a>

                                </div>
                                
                            </div><!-- End .row -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <div class="product-details">
                            {% if single_product.prod_offers.discount %}
                            <h6><span class="badge badge-warning">{{single_product.prod_offers.discount}}% off</span></h6>
                            
                            {% elif single_product.category.cate_offers.discount %}
                            <h6><span class="badge badge-success ">{{ single_product.category.cate_offers.discount}}% off</span></h6>
                            {% elif single_product.category.cate_offers.discount %}
                            <h6><span class="badge badge-success ">{{ single_product.category.cate_offers.discount}}% off</span></h6>
                            {% else %}
                            {% endif %}
                            <h1 class="product-title">{{single_product.product_name}}</h1><!-- End .product-title -->

                            <!-- <div class="ratings-container">
                                <div class="ratings">
                                    <div class="ratings-val" style="width: 80%;"></div>End .ratings-val
                                </div>End .ratings -->
                                <!-- <a class="ratings-text" href="#product-review-link" id="review-link">( 2 Reviews )</a> -->
                            </div><!-- End .rating-container -->

                            <div class="product-price">
                                {% if single_product.prod_offers.discount  %}
                                ₹{{single_product.prod_offers.discount|mul:single_product.price|intdiv:100|sub:single_product.price|abs}}&nbsp;&nbsp;
                                <del class="text-light"> ₹ {{single_product.price}}</del>
                                {% elif  single_product.category.cate_offers.discount %}
                                ₹{{single_product.category.cate_offers.discount|mul:single_product.price|intdiv:100|sub:single_product.price|abs}}&nbsp;&nbsp;
                                <del class="text-light"> ₹ {{single_product.price}}</del>
                                {% else %}
                                ₹ {{single_product.price}}
                                {% endif %}
                            </div><!-- End .product-price -->

                            <div class="product-content">
                                <p>{{single_product.description}}</p>
                            </div><!-- End .product-content -->

                            <!-- <div class="details-filter-row details-row-size">
                                <label>Color:</label> -->

                                <!-- <div class="product-nav product-nav-thumbs">
                                    <a href="#" class="active">
                                        <img src="assets/images/products/single/1-thumb.jpg" alt="product desc">
                                    </a>
                                    <a href="#">
                                        <img src="assets/images/products/single/2-thumb.jpg" alt="product desc">
                                    </a>
                                </div>End .product-nav -->
                            <!-- </div>End .details-filter-row -->

                            <!-- <div class="details-filter-row details-row-size">
                                <label for="size">Size:</label>
                                <div class="select-custom">
                                    <select name="size" id="size" class="form-control">
                                        <option value="#" selected="selected">Select a size</option>
                                        <option value="s">Small</option>
                                        <option value="m">Medium</option>
                                        <option value="l">Large</option>
                                        <option value="xl">Extra Large</option>
                                    </select>
                                </div>End .select-custom

                                <!-- <a href="#" class="size-guide"><i class="icon-th-list"></i>size guide</a> -->
                            <!-- </div>End .details-filter-row --> 

                           

                            <div class="product-details-action">
                                <!-- <a href="{% url 'add_cart' single_product.id %}" class="btn-product btn-cart"><span>buy now</span></a>&nbsp; -->
                                {% if not in_cart %}
                                <input type="hidden" class="product-id" value="{{single_product.id}}">
                                <input type="hidden" class="product-product_name" value="{{single_product.product_name}}">
                                <!-- <a  class="btn-product btn-cart addtocart" data-action="action" data-product="{{product.id}}"><span>add to cart</span></a> -->
                                <a href="{% url 'add_cart' single_product.id %}" class="btn-product  btn-cart"><span>add to cart</span></a>    
                                <a  href="{% url 'order_now' single_product.id %}" class="ml-3 btn-product btn-cart"><span>buy now</span></a>    

                                {% else %}
                                <div class="details-action-wrapper">
                                    <a class="text-success " ><span>Added to Cart</span></a>
                                </div>&nbsp;&nbsp;&nbsp;&nbsp;<!-- End .details-action-wrapper -->   
                                <a href="{% url 'cart'  %}" class="btn-product btn-cart"><span>view cart</span></a>
                                {% endif %}


                                <div class="details-action-wrapper">
                                    <!-- <a href="#" class="btn-product btn-wishlist" title="Wishlist"><span>Add to Wishlist</span></a> -->
                                </div><!-- End .details-action-wrapper -->
                            </div><!-- End .product-details-action -->

                            <div class="product-details-footer">
                                <div class="product-cat">
                                    <span>Category:</span>
                                    <a href="#">{{single_product.category}}</a>
                                    
                                </div><!-- End .product-cat -->

                                <div class="social-icons social-icons-sm">
                                    <span class="social-label">Share:</span>
                                    <a href="#" class="social-icon" title="Facebook" target="_blank"><i class="icon-facebook-f"></i></a>
                                    <a href="#" class="social-icon" title="Twitter" target="_blank"><i class="icon-twitter"></i></a>
                                    <a href="#" class="social-icon" title="Instagram" target="_blank"><i class="icon-instagram"></i></a>
                                    <a href="#" class="social-icon" title="Pinterest" target="_blank"><i class="icon-pinterest"></i></a>
                                </div>
                            </div><!-- End .product-details-footer -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <div class="product-details-tab">
                <ul class="nav nav-pills justify-content-center" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="product-desc-link" data-toggle="tab" href="#product-desc-tab" role="tab" aria-controls="product-desc-tab" aria-selected="true">Description</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-info-link" data-toggle="tab" href="#product-info-tab" role="tab" aria-controls="product-info-tab" aria-selected="false">Additional information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-shipping-link" data-toggle="tab" href="#product-shipping-tab" role="tab" aria-controls="product-shipping-tab" aria-selected="false">Shipping & Returns</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="product-review-link" data-toggle="tab" href="#product-review-tab" role="tab" aria-controls="product-review-tab" aria-selected="false">Reviews (2)</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="product-desc-tab" role="tabpanel" aria-labelledby="product-desc-link">
                        <div class="product-desc-content">
                            <h3>Product Information</h3>
                            <p>{{single_product.description}}</p>

                           </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-info-tab" role="tabpanel" aria-labelledby="product-info-link">
                        <div class="product-desc-content">
                            <h3>Information</h3>
                            <p>If You Want Additional Information...
                            <p><b>SEARCH IT ON GOOGLE</p></b>
                         

                           
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-shipping-tab" role="tabpanel" aria-labelledby="product-shipping-link">
                        <div class="product-desc-content">
                            <h3>Delivery & returns</h3>
                            <p>I don't think we ever gonna deliver this product to you. <a href="#">Delivery information</a><br>
                            We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt( Not gonna get ). For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                        </div><!-- End .product-desc-content -->
                    </div><!-- .End .tab-pane -->
                    <div class="tab-pane fade" id="product-review-tab" role="tabpanel" aria-labelledby="product-review-link">
                        <div class="reviews">
                            <h3>Reviews (2)</h3>
                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">Samanta J.</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 80%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">6 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Good, perfect size</h4>

                                        <div class="review-content">
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus cum dolores assumenda asperiores facilis porro reprehenderit animi culpa atque blanditiis commodi perspiciatis doloremque, possimus, explicabo, autem fugit beatae quae voluptas!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (2)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->

                            <div class="review">
                                <div class="row no-gutters">
                                    <div class="col-auto">
                                        <h4><a href="#">John Doe</a></h4>
                                        <div class="ratings-container">
                                            <div class="ratings">
                                                <div class="ratings-val" style="width: 100%;"></div><!-- End .ratings-val -->
                                            </div><!-- End .ratings -->
                                        </div><!-- End .rating-container -->
                                        <span class="review-date">5 days ago</span>
                                    </div><!-- End .col -->
                                    <div class="col">
                                        <h4>Very good</h4>

                                        <div class="review-content">
                                            <p>Sed, molestias, tempore? Ex dolor esse iure hic veniam laborum blanditiis laudantium iste amet. Cum non voluptate eos enim, ab cumque nam, modi, quas iure illum repellendus, blanditiis perspiciatis beatae!</p>
                                        </div><!-- End .review-content -->

                                        <div class="review-action">
                                            <a href="#"><i class="icon-thumbs-up"></i>Helpful (0)</a>
                                            <a href="#"><i class="icon-thumbs-down"></i>Unhelpful (0)</a>
                                        </div><!-- End .review-action -->
                                    </div><!-- End .col-auto -->
                                </div><!-- End .row -->
                            </div><!-- End .review -->
                        </div><!-- End .reviews -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
            </div><!-- End .product-details-tab -->

            <!-- You may also like -->



        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->

{% endblock %}


{% block scripts %}
<!-- <script>
    // add to cart ajax by code artisan lab
    $("#addToCartBtn").on('click',function(){
        var _vm=$(this);
        var _productId=$(".product-id").val();
        var _productTitle=$(".product-product_name").val();
        var _productPrice=$(".product-price").text();
        console.log(_productId, _productTitle);
        // Ajax
        $.ajax({
			url:'/cart/add-to-cart',
			data:{
				'id':_productId,
				//'image':_productImage,
				'title':_productTitle,
				'price':_productPrice
			},
			dataType:'json',
			beforeSend:function(){
                //before sending any data this will disabled
				_vm.attr('disabled',true);
			},
			success:function(res){
                console.log(res);
				$(".cart-list").text(res.totalitems);
				_vm.attr('disabled',false);
			}
		});
        // Ajax end here 
    })
    // addtocart end here  

   
    
</script>-->



{% endblock scripts %} 